@{ ViewBag.Title = "Home Page"; }

<div class="container-fluid pr-container">
    <div class="card mt-2" style="height:500px; margin-left:5px;">


        <div style="align-items: center; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;" class="card-body">


            <div>
                <img src="~/Content/img/logo_nova_3006_4_emp.png" alt="Logomarca" style="width:90%; margin-left:5%; margin-right:auto;">
            </div>

        </div>
    </div>

</div>
