@using MatrizTributaria.Models

@{ ViewBag.Title = "GfRedBCalcIcmsSaida"; }

<div class="container-fluid pr-container  pr-card-cad row">

    <div class="col-lg-12 col-sm-12 pr-1">

        <div class="card">
            <div class="card-header">
                Estado de Origem e Destino
            </div> <!--CAbeçalho-->
            <div class="card-body">


                @using (Html.BeginForm("GfRedBCalcIcmsSaida", "Tributacao", FormMethod.Get))
                {

    @RenderPage("~/Views/Acoes/CamposSelecionaUF.cshtml")}

            </div><!--body-->
        </div><!--card-->

    </div>




</div> <!--container maior-->


<div class="container-fluid pr-container-2  pr-card-cad row">

    <div class="col-lg-6 col-sm-12 pr-1">

        <div class="card">
            <div class="card-header">
                Redução base de calc. ICMS  venda no varejo para Consumidor Final
            </div> <!--CAbeçalho-->
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="container-fluid">
                                <div id="redBCIcmsVenVarCF" style="width: 500px; height: 300px; margin-left:auto; margin-right:auto;"></div>
                            </div><!--Container fluid da coluna-->
                        </div><!--12 colunas a linha-->
                    </div><!--linha do container do body-->
                </div> <!--container do body-->
            </div><!--body-->
        </div><!--card-->

    </div>

    <div class="col-lg-6 col-sm-12 pr-1">
        <div class="card">
            <div class="card-header">
                Redução base de calc. ICMS ST venda no varejo para Consumidor Final
            </div> <!--CAbeçalho-->
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="container-fluid">
                                <div id="redBCIcmsSTVenVarCF" style="width: 500px; height: 300px; margin-left:auto; margin-right:auto;"></div>
                            </div><!--Container fluid da coluna-->
                        </div><!--12 colunas a linha-->
                    </div><!--linha do container do body-->
                </div> <!--container do body-->
            </div><!--body-->
        </div><!--card-->
    </div>


</div> <!--container maior-->


<div class="container-fluid pr-container-2  pr-card-cad row">

    <div class="col-lg-6 col-sm-12 pr-1">
        <div class="card">
            <div class="card-header">
                Redução base de calc. ICMS  venda no varejo para Contribuinte
            </div> <!--CAbeçalho-->
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="container-fluid">
                                <div id="redBCIcmsVenVarCont" style="width: 500px; height: 300px; margin-left:auto; margin-right:auto;"></div>
                            </div><!--Container fluid da coluna-->
                        </div><!--12 colunas a linha-->
                    </div><!--linha do container do body-->
                </div> <!--container do body-->
            </div><!--body-->
        </div><!--card-->
    </div>

    <div class="col-lg-6 col-sm-12 pr-1">

        <div class="card">
            <div class="card-header">
                Redução base de calc. ICMS ST venda no varejo para Contribuinte
            </div> <!--CAbeçalho-->
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="container-fluid">
                                <div id="redBCIcmsSTVenVarCont" style="width: 500px; height: 300px; margin-left:auto; margin-right:auto;"></div>
                            </div><!--Container fluid da coluna-->
                        </div><!--12 colunas a linha-->
                    </div><!--linha do container do body-->
                </div> <!--container do body-->
            </div><!--body-->
        </div><!--card-->
    </div>





</div> <!--container maior-->






<div class="container-fluid pr-container-2  pr-card-cad row">

    <div class="col-lg-6 col-sm-12 pr-1">
        <div class="card">
            <div class="card-header">
                Red Base Calc ICMS Venda Atacado para Contribuinte
            </div> <!--CAbeçalho-->
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="container-fluid">
                                <div id="redBCIcmsVenAtaCont" style="width: 500px; height: 300px; margin-left:auto; margin-right:auto;"></div>
                            </div><!--Container fluid da coluna-->
                        </div><!--12 colunas a linha-->
                    </div><!--linha do container do body-->
                </div> <!--container do body-->
            </div><!--body-->
        </div><!--card-->
    </div>

    <div class="col-lg-6 col-sm-12 pr-1">
        <div class="card">
            <div class="card-header">
                Red Base Calc ICMS ST Venda Atacado para Contribuinte
            </div> <!--CAbeçalho-->
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="container-fluid">
                                <div id="redBCIcmsSTVenAtaCont" style="width: 500px; height: 300px; margin-left:auto; margin-right:auto;"></div>
                            </div><!--Container fluid da coluna-->
                        </div><!--12 colunas a linha-->
                    </div><!--linha do container do body-->
                </div> <!--container do body-->
            </div><!--body-->
        </div><!--card-->
    </div>







</div> <!--container maior-->




<div class="container-fluid pr-container-2  pr-card-cad row">

    <div class="col-lg-6 col-sm-12 pr-1">
        <div class="card">
            <div class="card-header">
                Red Base Calc ICMS Venda Atacado para Simples Nacional
            </div> <!--CAbeçalho-->
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="container-fluid">
                                <div id="redBCIcmsVenAtaSN" style="width: 500px; height: 300px; margin-left:auto; margin-right:auto;"></div>
                            </div><!--Container fluid da coluna-->
                        </div><!--12 colunas a linha-->
                    </div><!--linha do container do body-->
                </div> <!--container do body-->
            </div><!--body-->
        </div><!--card-->
    </div>

    <div class="col-lg-6 col-sm-12 pr-1">
        <div class="card">
            <div class="card-header">
                Red Base Calc ICMS ST Venda Atacado para Simples Nacional
            </div> <!--CAbeçalho-->
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="container-fluid">
                                <div id="redBCIcmsSTVenAtaSN" style="width: 500px; height: 300px; margin-left:auto; margin-right:auto;"></div>
                            </div><!--Container fluid da coluna-->
                        </div><!--12 colunas a linha-->
                    </div><!--linha do container do body-->
                </div> <!--container do body-->
            </div><!--body-->
        </div><!--card-->
    </div>





</div> <!--container maior-->
